.main {
    background: lightskyblue;
    color: white;
    padding-bottom: 80px; }
.main .btn-primary {
    background: dodgerblue;
    border-color: dodgerblue; }
.main .btn-primary:hover {
    background: royalblue; }
.main p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
.navbar + .main {
    margin-top: -20px; }
.main .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
.main .lang-logo img {
    max-width: 100%; }