<html>
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<div class="main text-center">
    <span class="main-title">{{.chapter}}</span>
    <div class="container">
        {{range $index, $val := .obj}}
            <div class="container-test">
                <span class="container-test-title">Test {{$index}}</span>
                <div class="container-test-items">
                    <span class="container-test-key">{{.Key}}</span>
                    <span class="container-test-value">{{.Value}}</span>
                </div>
            </div>
        {{end}}
    </div>
</div>

</body>
</html>