<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a href="https://github.com/yieon-swk/yieon_go_lang"><span class="glyphicon glyphicon-user"></span> My Github</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Chapter <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
<!--                    메뉴 컨텐츠 정리-->
                    <li><a href="/chapter-1">1. 정수</a></li>
                    <li><a href="/chapter-2">2. 반복</a></li>
                    <li><a href="/chapter-3">3. 배열과 슬라이스</a></li>
                    <li><a href="/chapter-4">4. 구조체, 메소드 & 인터페이스</a></li>
                    <li><a href="/chapter-5">5. 포인터 & 에러</a></li>
                    <li><a href="/chapter-6">6. 맵</a></li>
                    <li><a href="/chapter-7">7. 의존성 주입</a></li>
                    <li><a href="/chapter-8">8. 동시성</a></li>
                    <li><a href="/chapter-9">9. Select</a></li>
                    <li><a href="/chapter-10">10. Reflection</a></li>
                    <li><a href="/chapter-11">11. Sync</a></li>
                    <li><a href="/chapter-12">12. Context</a></li>
                    <li class="divider"></li>
                    <li><a href="https://miryang.gitbook.io/learn-go-with-tests/undefined/app-intro">어플리케이션 만들기</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://miryang.gitbook.io/learn-go-with-tests/"><span class="glyphicon glyphicon-book"></span> Golang Gitbook</a>
            </li>
        </ul>
    </div>
</nav>